<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjw.vueback.demos.web.mapper.TComponentsQuoteMapper">
    
    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.mjw.vueback.demos.web.entity.TComponentsQuote">
        <id column="GUID" property="guid" />
        <result column="COMPONENT_ID" property="componentId" />
        <result column="IS_USED" property="isUsed" />
        <result column="IS_QUOTED" property="isQuoted" />
        <result column="COM_DATE" property="comDate" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="REMARK" property="remark" />
    </resultMap>
    
    <!-- 根据 GUID 查询 -->
    <select id="selectByGuid" resultMap="BaseResultMap">
        SELECT * FROM T_COMPONENTS_QUOTE WHERE GUID = #{guid}
    </select>
    
    <!-- 根据工装ID查询引用/报价列表 -->
    <select id="selectByComponentId" resultMap="BaseResultMap">
        SELECT * FROM T_COMPONENTS_QUOTE WHERE COMPONENT_ID = #{componentId}
    </select>
    
    <!-- 根据条件查询列表 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM T_COMPONENTS_QUOTE
        <where>
            <if test="guid != null and guid != ''">
                AND GUID = #{guid}
            </if>
            <if test="componentId != null and componentId != ''">
                AND COMPONENT_ID = #{componentId}
            </if>
            <if test="isUsed != null and isUsed != ''">
                AND IS_USED = #{isUsed}
            </if>
            <if test="isQuoted != null and isQuoted != ''">
                AND IS_QUOTED = #{isQuoted}
            </if>
        </where>
        ORDER BY CREATE_DATE DESC
    </select>
    
    <!-- 插入 -->
    <insert id="insert" parameterType="com.mjw.vueback.demos.web.entity.TComponentsQuote">
        INSERT INTO T_COMPONENTS_QUOTE (
            GUID, COMPONENT_ID, IS_USED, IS_QUOTED,
            COM_DATE, CREATE_USER_ID, CREATE_DATE,
            UPDATE_USER_ID, UPDATE_DATE, REMARK
        ) VALUES (
            #{guid}, #{componentId}, #{isUsed}, #{isQuoted},
            #{comDate}, #{createUserId}, #{createDate},
            #{updateUserId}, #{updateDate}, #{remark}
        )
    </insert>
    
    <!-- 根据 GUID 更新 -->
    <update id="updateByGuid" parameterType="com.mjw.vueback.demos.web.entity.TComponentsQuote">
        UPDATE T_COMPONENTS_QUOTE
        <set>
            <if test="componentId != null">COMPONENT_ID = #{componentId},</if>
            <if test="isUsed != null">IS_USED = #{isUsed},</if>
            <if test="isQuoted != null">IS_QUOTED = #{isQuoted},</if>
            <if test="comDate != null">COM_DATE = #{comDate},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="updateUserId != null">UPDATE_USER_ID = #{updateUserId},</if>
            <if test="updateDate != null">UPDATE_DATE = #{updateDate},</if>
        </set>
        WHERE GUID = #{guid}
    </update>
    
    <!-- 根据 GUID 删除 -->
    <delete id="deleteByGuid">
        DELETE FROM T_COMPONENTS_QUOTE WHERE GUID = #{guid}
    </delete>
    
    <!-- 根据工装ID删除所有引用/报价 -->
    <delete id="deleteByComponentId">
        DELETE FROM T_COMPONENTS_QUOTE WHERE COMPONENT_ID = #{componentId}
    </delete>
    
    <!-- 插入非空字段 -->
    <insert id="insertSelective" parameterType="com.mjw.vueback.demos.web.entity.TComponentsQuote">
        INSERT INTO T_COMPONENTS_QUOTE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guid != null">GUID,</if>
            <if test="componentId != null">COMPONENT_ID,</if>
            <if test="isUsed != null">IS_USED,</if>
            <if test="isQuoted != null">IS_QUOTED,</if>
            <if test="comDate != null">COM_DATE,</if>
            <if test="createUserId != null">CREATE_USER_ID,</if>
            <if test="createDate != null">CREATE_DATE,</if>
            <if test="updateUserId != null">UPDATE_USER_ID,</if>
            <if test="updateDate != null">UPDATE_DATE,</if>
            <if test="remark != null">REMARK,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guid != null">#{guid},</if>
            <if test="componentId != null">#{componentId},</if>
            <if test="isUsed != null">#{isUsed},</if>
            <if test="isQuoted != null">#{isQuoted},</if>
            <if test="comDate != null">#{comDate},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>
    
    <!-- 根据GUID更新非空字段 -->
    <update id="updateByGuidSelective" parameterType="com.mjw.vueback.demos.web.entity.TComponentsQuote">
        UPDATE T_COMPONENTS_QUOTE
        <set>
            <if test="componentId != null">COMPONENT_ID = #{componentId},</if>
            <if test="isUsed != null">IS_USED = #{isUsed},</if>
            <if test="isQuoted != null">IS_QUOTED = #{isQuoted},</if>
            <if test="comDate != null">COM_DATE = #{comDate},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="updateUserId != null">UPDATE_USER_ID = #{updateUserId},</if>
            <if test="updateDate != null">UPDATE_DATE = #{updateDate},</if>
        </set>
        WHERE GUID = #{guid}
    </update>
    
</mapper>
